<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
<h1>J's Shop</h1>
<!-- <p>{{results}}</p> -->


<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Nombre de Couleur</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        {%for i in range(0, len)%} 
        <tr>
            <td><img style="width: 100px;height: 100px;" src="{{results[i][1]}}" alt=""></td>
            <td>{{results[i][2]}}</td>
            <td>{{results[i][3]}}</td>
            <td>{{results[i][4]}}</td>
            <td>{{results[i][5]}} €</td>
        </tr>
        {%endfor%} 
    </tbody>
</table>

</body>
</html>