<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>J's Shop</title>
</head>
<body>
<h1>J's Shop</h1>
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Nombre de Couleur</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>